* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    /*16 px*/
}

svg{
    cursor: pointer;
}
svg:hover path{

    fill: grey;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: black;
    width: 25em;
    grid-template-columns: 1fr;
}

.playing {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.playing-image {
    border-radius: 50%;
    width: 10em;
    height: 10em;

}

.artist-name {
    font-size: 1.2em;
    margin: 0;
    color: #868e96;
    margin-top: 1em;
    font-weight: 100;
}

.song-name {
    font-size: 2em;
    margin: 0;
    color: #ffffff;
    margin-top: .3em;
}


.progress-container {
    display: flex;
    width: 90%;
    gap: 1em;
    margin: 1em auto;
    align-items: center;
    justify-content: center;
}

.progress-container p {
    color: white;
}

.progress-bar {
    -webkit-appearance: none;
    width: 100%;
   background-color: black;
}
.progress-bar::-webkit-slider-runnable-track {
    height: .5em;
    border-radius: 0.25em;
    background: #4CAF50;
}
.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: pink;
    border: 2px solid beige;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.controls {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 1em;
}

.volume {
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto auto;
    gap: .5em;
}

.search {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 90%;

}

.search p {
    color: white;
}

.search-box {
    display: flex;
    align-items: center;
}

.library {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: .3em;

    overflow-y: auto;
    height: 20em;
}

.song-card {
    display: flex;
    align-items: center;
    gap: .8em;
    background-color: gray;
    border-radius: .4em;
    height: 2.5em;
    padding: 0 .3em;
}

.song-card img {
    height: 2em;
    width: 2em;
    border-radius: .4em;
    flex-shrink: 0;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-width: 0;
    align-items: flex-start;
}

.details p:nth-child(1) {
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details p:nth-child(2) {
    font-size: .9em;
}